{% extends "core/base.html" %}
{% block title %} Registro {% endblock %}
{% load static %}
{% block titulo %} Registro diario {% endblock %}
{% block head %} 
    <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'core/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">

  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'core/plugins/daterangepicker/daterangepicker.css' %}">
{% endblock %}
{% block breadcums %} 
    
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <form method="post">{% csrf_token %}
                        <div class="form-group">
                            <label>Date:</label>
                            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                                <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" id="date" name="date" value="{{ request.POST.date }}"/>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-outline-success float-right" value="Buscar">
                    </form>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Cédula</th>
                                <th>Nombres y Apellidos</th>
                                <th>Cargo</th>
                                <th>Departamento</th>
                                <th>Entrada</th>
                                <th>Salida</th>
                                <th> Horas T. </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hora in object_list %}
                                <tr>
                                    <td> {{ hora.trabajador.cedula}} </td>
                                    <td>{{ hora.trabajador.nombre}} {{ trabajador.apellido}}</td>
                                    <td>{{ hora.trabajador.cargo}}</td>
                                    <td>{{ hora.trabajador.departamento}}</td>
                                    <td>{{ hora.entrada|time:"h:i A" }} </td>
                                    <td> {{ hora.salida|time:"h:i A" }}</td>
                                    <td> {{ hora }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Cédula</th>
                                <th>Nombres y Apellidos</th>
                                <th>Cargo</th>
                                <th>Departamento</th>
                                <th>Entrada</th>
                                <th>Salida</th>
                                <th> Horas T. </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
              <!-- /.card-body -->
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'core/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Select2 -->
<script src="{% static 'core/plugins/select2/js/select2.full.min.js' %}"></script>



<script>
    $(function () {
        $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
        });

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('dd/mm/yyyy', { 'placeholder': 'mm/dd/yyyy' })
        //Money Euro
        $('[data-mask]').inputmask()

        //Date range picker
        $('#reservationdate').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        //Date range picker
        $('#reservation').daterangepicker({
            locale: {
                format: 'DD/MM/YYYY'
            }
        })
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'DD/MM/YYYY hh:mm A'
            }
        })
        
        //Date range as a button
        $('#daterange-btn').daterangepicker(
        {
            ranges   : {
            'Today'       : [moment(), moment()],
            'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month'  : [moment().startOf('month'), moment().endOf('month')],
            'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            startDate: moment().subtract(29, 'days'),
            endDate  : moment()
        },
        function (start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
        }
        )
    });
</script>
{% endblock %}