{% extends "core/base.html" %}
{% block title %} Horario {% endblock %}
{% load static %}
{% block titulo %} Entrada / Salida {% endblock %}
{% block breadcums %} 
    <li class="breadcrumb-item"><a href="#">Horario</a></li>
{% endblock %}

{% block contenido %}
{% if form.errors %}
  {% for field in form %}
    {% for error in field.errors %}
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-ban"></i> Error!</h5>
        {{ error|escape }}
      </div>
    {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h5><i class="icon fas fa-ban"></i> Error!</h5>
        {{ error|escape }}
    </div>
  {% endfor %}
{% endif %}
{% if marca == 'E' %}
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h5><i class="icon fas fa-check"></i> Entrada!</h5>
    {{ trabajador }} entro a las {{ hora|time:"h:i:s A" }}.
  </div>
{% elif marca == 'S' %}
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h5><i class="icon fas fa-check"></i> Salida!</h5>
    {{ trabajador }} salio a las {{ hora|time:"h:i:s A" }}.
  </div>
{% elif marca == 'no' %}
  <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h5><i class="icon fas fa-ban"></i> Error!</h5>
        Persona no registrada o código invalido
    </div>
{% elif marca == 'ya' %}
  <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h5><i class="icon fas fa-ban"></i> Error!</h5>
        Persona ya marco {% if e == "E" %} entrada {% else %} salida {% endif %}
    </div>
{% elif marca == 'p' %}
  <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h5><i class="icon fas fa-ban"></i> Error!</h5>
        Debe marcar primero su entrada
    </div>
{% endif %}

<div class="card">

  {% comment %} <div class="card-header">
    <h3 class="card-title">DataTable with default features</h3>
  </div>  {% endcomment %}
  <!-- /.card-header -->
  <div class="card-body">
    <form method="post">{% csrf_token %}
      {{ form }}
      <br/>
      <div class="btn-group float-right">
        
        <input type="submit" class="btn btn-outline-info " name="Salida" id="Salida" value="Salida">
        <input type="submit" class="btn btn-outline-success " name="entrada" id="entrada" value="Entrada">
      </div>
    </form>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->

{% endblock %}