{% extends "core/base.html" %}
{% block title %} Registro {% endblock %}
{% load static %}
{% block titulo %} Registro {% endblock %}
{% block head %} 
    <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'core/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">

  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'core/plugins/daterangepicker/daterangepicker.css' %}">

    <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'core/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" href="{% static 'core/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
{% endblock %}
{% block breadcums %} 
    
{% endblock %}

{% block contenido %}
    <div class="card">
        <div class="card-header">
            <form method="GET">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Departamento</label>
                            <select class="select2bs4" name="departamento" id="departamento" required>
                            <option value = "0">Todos</option>
                            {% for dep in departamento %}
                                <option value = {{dep.pk}} {% if dep.id|floatformat == request.POST.departamento|floatformat %} selected {% endif %}>{{dep}}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Rango de fecha a consultar:</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                                </div>
                                <input type="text" class="form-control float-right" id="reservation" name="reservation" value="{{ request.POST.reservation }}">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-outline-success float-right" value="Buscar">
                {% comment %} <a class="btn btn-outline-info" href = "{% url "core:pdf" %}{% if request.POST.reservation %}?fecha={{request.POST.reservation}}{% if request.POST.departamento %}&departamento={{request.POST.departamento}}{% endif %}{% elif request.POST.departamento %}?departamento={{request.POST.reservation}}{% endif %}"> PDF </a>
                <a class="btn btn-outline-info" href = "{% url "core:excel" %}{% if request.POST.reservation %}?fecha={{request.POST.reservation}}{% if request.POST.departamento %}&departamento={{request.POST.departamento}}{% endif %}{% elif request.POST.departamento %}?departamento={{request.POST.reservation}}{% endif %}"> Excel </a> {% endcomment %}
            </form>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <h3>Visitantes</h3>
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombres y Apellidos</th>
                        <th>Departamento</th>
                        <th>tipo</th>
                        <th>Observación</th>
                        <th>fecha</th>
                        <th>Hora</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hora in object_list %}
                        <tr>
                            <td> {{ hora.cedula}} </td>
                            <td>{{ hora.nombre}} {{ hora.trabajador.apellido}}</td>
                            <td>{{ hora.departamento}}</td>
                            <td>{{ hora.get_tipo_display }}</td>
                            <td>{{ hora.observacion}}</td>
                            <td> {{ hora.fecha|date:"d/m/Y" }}</td>
                            <td> {{ hora.fecha|date:"P" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombres y Apellidos</th>
                        <th>Cargo</th>
                        <th>Departamento</th>
                        <th>tipo</th>
                        <th>fecha</th>
                        <th>Hora</th>
                    </tr>
                </tfoot>
            </table>
            
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'core/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Select2 -->
<script src="{% static 'core/plugins/select2/js/select2.full.min.js' %}"></script>



<script>
    $(function () {
        $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
        });

        $("#example2").DataTable({
        "responsive": true,
        "autoWidth": false,
        });
        $('.select2bs4').select2({
          theme: 'bootstrap4'
        })

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('dd/mm/yyyy', { 'placeholder': 'mm/dd/yyyy' })
        //Money Euro
        $('[data-mask]').inputmask()

        //Date range picker
        $('#reservationdate').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        //Date range picker
        $('#reservation').daterangepicker({
            locale: {
                format: 'DD/MM/YYYY'
            }
        })
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'DD/MM/YYYY hh:mm A'
            }
        })
        
        //Date range as a button
        $('#daterange-btn').daterangepicker(
        {
            ranges   : {
            'Today'       : [moment(), moment()],
            'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month'  : [moment().startOf('month'), moment().endOf('month')],
            'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            startDate: moment().subtract(29, 'days'),
            endDate  : moment()
        },
        function (start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
        }
        )
    });
</script>
{% endblock %}