{% extends "registration/base.html" %}
{% block title %} Cambiar contraseña {% endblock %}
{% load static %}
{% block content %}
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">
Estás a solo un paso de tu nueva contraseña, cambia tu contraseña ahora.</p>

      <form action="" method="post">{% csrf_token %}
        {% if form.old_password.errors %}
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-exclamation-triangle"></i> Alerta!</h5>
            {{form.old_password.errors}}
          </div>
        {% endif %}
        <label for="id_email">Contraseña antigua:</label>
        <div class="input-group mb-3">
          <input  name="old_password" required="" id="id_old_password" type="password" class="form-control" placeholder="Contraseña antigua">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        {% if form.new_password1.errors %}
          <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-exclamation-triangle"></i> Alerta!</h5>
            {{form.new_password1.errors}}
          </div>
        {% endif %}
        <label for="id_email">Contraseña nueva:</label>
        <div class="input-group mb-3">
          <input name="new_password1" required="" id="id_new_password1" type="password" class="form-control" placeholder="Contraseña nueva">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        {% if form.new_password2.errors %}
          <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-exclamation-triangle"></i> Alerta!</h5>
            {{form.new_password2.errors}}
          </div>
        {% endif %}
        <label for="id_email">Contraseña nueva (confirmación):</label>
        <div class="input-group mb-3">        
          <input name="new_password2" required="" id="id_new_password2" type="password" class="form-control" placeholder="Contraseña nueva (confirmación)">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Cambiar Contraseña</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      
    </div>
    <!-- /.login-card-body -->
  </div>
{% endblock %}