{% extends "pagos/base.html" %}
{% block title %} Anticipo {% endblock %}
{% load static %}
{% load l10n %}
{% load i18n %}
{% block titulo %}  {% endblock %}
{% block head %} 
    <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'core/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">

  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'core/plugins/daterangepicker/daterangepicker.css' %}">

    <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'core/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" href="{% static 'core/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
{% endblock %}
{% block breadcums %} 
    
{% endblock %}

{% block contenido %}
{% if form.errors %}
  {% for field in form %}
    {% for error in field.errors %}
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-ban"></i> Error!</h5>
        {{ error|escape }} {{ field.name }}
      </div>
    {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h5><i class="icon fas fa-ban"></i> Error!</h5>
        {{ error|escape }} {{ field.name }}
    </div>
  {% endfor %}
{% endif %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Cargar Anticipo</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Anticipo</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group">
                            <label>{{ form.empresa.label }}</label> 
                            {{ form.empresa }}
                        </div>
                        <table width = "100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label>{{ form.montobs.label }}</label> 
                                            {{ form.montobs }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label>{{ form.montousd.label }}</label> 
                                            {{ form.montousd }}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <input type="hidden" name="user" id="id_user" value="{{ request.user.id|unlocalize }}">
                    </div>
                    <!-- /.card-body -->
                </div>
                
            </div>
            <div class="col-md-5">
                
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="submit" class="btn btn-outline-success float-right" value="Aceptar"/>
            </div>
        </div>
    </form>
</section>
{% endblock %}

{% block script %}
<script src="{% static 'core/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Select2 -->
<script src="{% static 'core/plugins/select2/js/select2.full.min.js' %}"></script>



<script>
    $(function () {
        $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
        });

        $("#example2").DataTable({
        "responsive": true,
        "autoWidth": false,
        });
        $('.select2bs4').select2({
          theme: 'bootstrap4'
        })        
    });

    function formatNumber(num){
        num = parseFloat(num).toFixed(2);
        num = num.toString().replace('.',',');
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.');
    }

    function calculartotal(){
        pagousd = parseFloat({{ object.divisa|unlocalize }}) - parseFloat(document.getElementById("id_montousd").value)
        document.getElementById("id_pagousd").innerHTML = formatNumber(pagousd)
        pagobs = parseFloat({{ object.totalbs|unlocalize }}) + (parseFloat({{ object.pagousd|unlocalize }}) - parseFloat({{ object.divisa|unlocalize }}) ) * parseFloat(document.getElementById("id_cambio").value) - parseFloat(document.getElementById("id_montobs").value)
        document.getElementById("id_pagobs").innerHTML = formatNumber(pagobs)
    }
</script>
{% endblock %}