{% extends "pagos/base.html" %}
{% block title %} Trabajador {% endblock %}
{% load static %}
{% load l10n %}
{% block titulo %}  {% endblock %}
{% block head %} 
    <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'core/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">

  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'core/plugins/daterangepicker/daterangepicker.css' %}">

    <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'core/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" href="{% static 'core/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
{% endblock %}
{% block breadcums %} 
    
{% endblock %}

{% block contenido %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Detalle Factura - Estatus: <b>{{ object.get_estatus_display}}</b></h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table style="width:100%">
                <tbody>
                    <tr>
                        <td><label>RIF</label> <p>{{ object.empresa.rift }}-{{ object.empresa.rif|unlocalize }}</p></td>
                        <td><label>Razón Social</label> <p>{{ object.empresa.razon }} </p></td>
                        <td><label>N° Factura</label> <p>{{ object.nfactura }}</p></td>
                        <td><label>N° Control</label> <p>{{ object.ncontrol }}</p></td>
                    </tr>
                    <tr>
                        <td><label>F. Factura</label> <p>{{ object.fechafactura|date:"d/m/Y" }} </p></td>
                        <td><label>F. Recepción</label> <p>{{ object.fecharecepcion|date:"d/m/Y" }}</p></td>
                        <td><label>Concepto</label> <p>{{ object.concepto }} </p></td>
                        <td><label>Archivo</label> <p>{% if object.archivo %}<a class="btn btn-primary btn-sm" href="{{ object.archivo.url }}" target="_blank"><i class="nav-icon fas fa-eye"></i>&nbsp;&nbsp;Ver</a>{% endif %}</p></td>
                    </tr>
                    <tr>
                        <td><label>BIG</label> <p>{{ object.big|floatformat:2 }} </p></td>
                        <td><label>Exento</label> <p>{{ object.exento|floatformat:2 }} </p></td>
                        <td><label>IVA</label> <p>{{ object.caliva|floatformat:2 }}</p></td>
                        <td><label>Total BS| Total USD </label> <p>{{ object.total|floatformat:2 }} | {{ object.totalusd|floatformat:2 }}</p></td>
                        
                    </tr>
                    <tr>
                        <td><label>Retención IVA</label> <p>{{ object.calretiva|floatformat:2 }} </p></td>
                        <td><label>Retención ISLR</label> <p>{{ object.calislr|floatformat:2 }} </p></td>
                        <td><label>Pago en USD</label> <p>{{ object.divisa|floatformat:2 }}</p></td>
                        <td><label>Pago en BS</label> <p>{{ object.pagoenbs|floatformat:2 }} </p></td>
                    </tr>
                </tbody>
            </table>
            <a href="{% url 'pagos:facturas' %}" class="btn btn-outline-info " />Facturas</a>
            <a href="{% url 'pagos:factura_edit' object.id %}" class="btn btn-outline-success float-right" />Editar</a>
            {% comment %} {% for grupo in request.user.groups.all %}
                {% if grupo.name == "nivel1" %}
                    
                {% elif grupo.name == "nivel2" %}
                    <a href="{% url 'pagos:factura_edite' object.id %}" class="btn btn-outline-success float-right" />Editar</a>
                {% elif grupo.name == "nivel3" and object.estatus != "P" %}
                    <a href="{% url 'pagos:factura_edite' object.id %}" class="btn btn-outline-success float-right" />Editar</a>
                {% endif %}
            {% endfor %} {% endcomment %}
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'core/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Select2 -->
<script src="{% static 'core/plugins/select2/js/select2.full.min.js' %}"></script>



<script>
    $(function () {
        $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
        });

        $("#example2").DataTable({
        "responsive": true,
        "autoWidth": false,
        });
        $('.select2bs4').select2({
          theme: 'bootstrap4'
        })

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('dd/mm/yyyy', { 'placeholder': 'mm/dd/yyyy' })
        //Money Euro
        $('[data-mask]').inputmask()

        //Date range picker
        $('#reservationdate').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        //Date range picker
        $('#reservation').daterangepicker({
            locale: {
                format: 'DD/MM/YYYY'
            }
        })
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'DD/MM/YYYY hh:mm A'
            }
        })
        
        //Date range as a button
        $('#daterange-btn').daterangepicker(
        {
            ranges   : {
            'Today'       : [moment(), moment()],
            'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month'  : [moment().startOf('month'), moment().endOf('month')],
            'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            startDate: moment().subtract(29, 'days'),
            endDate  : moment()
        },
        function (start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
        }
        )
    });
</script>
{% endblock %}