{% extends "pagos/base.html" %}
{% block title %} Factura {% endblock %}
{% load static %}
{% load l10n %}
{% block contenido %}
{% if form.errors %}
  {% for field in form %}
    {% for error in field.errors %}
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-ban"></i> Error!</h5>
        {{ error|escape }} {{ field.name }}
      </div>
    {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h5><i class="icon fas fa-ban"></i> Error!</h5>
        {{ error|escape }} {{ field.name }}
    </div>
  {% endfor %}
{% endif %}

<div class="card card-primary">

  <div class="card-header">
    <h3 class="card-title">Registrar Factura</h3>
  </div> 
  <!-- /.card-header -->
  <div class="card-body">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label>{{ form.empresa.label }}</label> 
            {{ form.empresa }}
          </div>
          
          <div class="form-group">
            <label>{{ form.concepto.label }}</label> 
            {{ form.concepto }}
          </div>

          <div class="form-group">
            <label>{{ form.big.label }}</label> 
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-money-bill-wave"></i></span>
              </div>  
              {{ form.big }}
            </div>
            <!-- /.input group -->
          </div>
          <div class="form-group">
            <label>{{ form.cambiofactura.label }}</label> 
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-money-bill-wave"></i></span>
              </div>  
              {{ form.cambiofactura }}
            </div>
            <!-- /.input group -->
          </div>
          <div class="form-group">
            <label>{{ form.tiposervicio.label }}</label> 
            <select class="form-control" name="tiposervicio" id="id_tiposervicio">
                <option selected disabled>Selecciona un tipo de servicio</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>{{ form.nfactura.label }}</label> 
            {{ form.nfactura }}
          </div>
          <div class="form-group">
             <label>{{ form.fechafactura.label }}</label> 
              <div class="input-group date" id="reservationdate" data-target-input="nearest">
                  {{ form.fechafactura }}
                  <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
          </div>
          
          <div class="form-group">
            <label>{{ form.exento.label }}</label> 
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-money-bill-wave"></i></span>
              </div>  
              {{ form.exento }}
            </div>
            <!-- /.input group -->
          </div>
          <div class="form-group">
            <label>{{ form.cambiopago.label }}</label> 
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-money-bill-wave"></i></span>
              </div>  
              {{ form.cambiopago }}
            </div>
            <!-- /.input group -->
          </div>
         
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label>{{ form.ncontrol.label }}</label> 
            {{ form.ncontrol }}
          </div>
          <div class="form-group">
             <label>{{ form.fecharecepcion.label }}</label> 
              <div class="input-group date" id="reservationdate2" data-target-input="nearest">
                  {{ form.fecharecepcion }}
                  <div class="input-group-append" data-target="#reservationdate2" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
          </div>
           <div class="form-group">
            <label>% {{ form.retiva.label }}</label> 
            <div class="input-group">
              {{ form.retiva }}
            </div>
          </div>
          <div class="form-group">
            <label>{{ form.archivo.label }}</label> 
            <div class="input-group">
              <div class="custom-file">
                {{ form.archivo }}
                <label class="custom-file-label" for="id_archivo">Seleccione un Archivo</label>
              </div>
            </div>  
          </div>
        </div>
      </div>
      <input type="hidden" name="user" id="id_user" value="{{ request.user.id|unlocalize }}">
      <div class="btn-group float-right">
        <input type="submit" class="btn btn-outline-success " value="Aceptar"/>
      </div>
    </form>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->

{% endblock %}

{% block script %}
  <script src="{% static 'core/plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
  <script>
    $(function () {
      $('[data-mask]').inputmask()
      //Date range picker
      $('.select2').select2();
      $('#reservationdate').datetimepicker({
          format: 'DD/MM/YYYY'
      });
      $('#reservationdate2').datetimepicker({
          format: 'DD/MM/YYYY'
      });
      $('.select2bs4').select2({
        theme: 'bootstrap4'
      });
    })      
  </script>

  <script type="text/javascript">
  $(document).ready(function () {
    bsCustomFileInput.init();
  });
</script>
<script>
  $("#id_empresa").change(function () {
    const empresaId = $(this).val();  // get the selected subject ID from the HTML dropdown list 
    $.ajax({                       // initialize an AJAX request
      type: "POST",
      url: '{% url "pagos:get_servicio_ajax" %}',
      data: {
        'empresa_id': empresaId,       // add the country id to the POST parameters
        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function (data) {   // `data` is from `get_topics_ajax` view function
        let html_data = '<option value="">---------</option>';
        data.forEach(function (data) {
            html_data += `<option value="${data.id}">${data.codigo}</option>`
        });
        $("#id_tiposervicio").html(html_data); // replace the contents of the topic input with the data that came from the server
      }
    });
  });
</script>
{% endblock %}