{% extends "pagos/base.html" %}
{% block title %} Factura {% endblock %}
{% load static %}
{% load l10n %}
{% block titulo %}  {% endblock %}
{% block head %} 
    <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'core/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">

  <!-- daterange picker -->
  <link rel="stylesheet" href="{% static 'core/plugins/daterangepicker/daterangepicker.css' %}">

    <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'core/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" href="{% static 'core/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
{% endblock %}
{% block breadcums %} 
    
{% endblock %}

{% block contenido %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Detalle de Factura</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="row">
        <div class="col-md-7">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Detalle de la Factura </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <th>RIF</th>
                                <th>Razón Social</th>
                                <th>Concepto</th>
                            </tr>
                            <tr>
                                <td width="30%"><p>{{ object.empresa.rift }}-{{ object.empresa.rif|unlocalize }}</p></td>
                                <td width="30%"><p>{{ object.empresa.razon }} </p></td>
                                <td width="40%"><p>{{ object.concepto }} </p></td>
                            </tr>
                            <tr>
                                <td><label>N° de Factura</label> <p>{{ object.nfactura }}</p></td>
                                <td><label>N° de Control</label> <p>{{ object.ncontrol }}</p></td>
                                <td><label>Departamento</label> <p>{{ object.departamento }}</p></td>
                                
                            </tr>
                            <tr>
                                <td><label>Fecha de la Factura</label> <p>{{ object.fechafactura|date:"d/m/Y" }} </p></td>
                                <td><label>Fecha de Recepción</label> <p>{{ object.fecharecepcion|date:"d/m/Y" }}</p></td>
                                <td><label>Tipo</label> <p>{{ object.get_tipo_display }}</p></td>                                
                            </tr>
                            <tr>
                                <td><label>Archivo</label> <p>{% if object.archivo %}<a class="btn btn-primary btn-sm" href="{{ object.archivo.url }}" target="_blank"><i class="nav-icon fas fa-eye"></i>&nbsp;&nbsp;Ver</a>{% endif %}</p></td>
                                <td><label>Tipo de Servicio</label> <p>{{ object.tiposervicio.codigo }}: {{ object.tiposervicio.actividad }}</p></td>
                            </tr>
                        </tbody>
                    </table>
                    {% comment %} {% for grupo in request.user.groups.all %}
                        {% if grupo.name == "nivel1" %}
                            
                        {% elif grupo.name == "nivel2" %}
                            <a href="{% url 'pagos:factura_edite' object.id %}" class="btn btn-outline-success float-right" />Editar</a>
                        {% elif grupo.name == "nivel3" and object.estatus != "P" %}
                            <a href="{% url 'pagos:factura_edite' object.id %}" class="btn btn-outline-success float-right" />Editar</a>
                        {% endif %}
                    {% endfor %} {% endcomment %}
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <div class="col-md-5">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Montos de la Factura </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table style="width:100%" class="table table-sm table-hover ">
                        <thead>
                            <tr>
                                <th>Concepto</th>
                                <th style="text-align: right;">BS</th>
                                <th style="text-align: right;">USD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>BIG</td>
                                <td style="text-align: right;">{{ object.big|floatformat:2 }} </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Exento </td>
                                <td style="text-align: right;">{{ object.exento|floatformat:2 }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>IVA</td>
                                <td style="text-align: right;">{{ object.caliva|floatformat:2 }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Total Factura (Equivalente)</th> 
                                <th style="text-align: right;">{{ object.total|floatformat:2 }} </th>
                                <th style="text-align: right;">{{ object.totalusd|floatformat:2 }}</th>
                            </tr>
                            <tr>
                                <td>Retención IVA</td> 
                                <td style="text-align: right;">{{ object.calretiva|floatformat:2 }} </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Retención ISLR</td> 
                                <td style="text-align: right;">{{ object.calislr|floatformat:2 }} </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Total a Pagar en</th> 
                                <th style="text-align: right;">{{ object.pagoenbs|floatformat:2 }} </th>
                                <th style="text-align: right;">{{ object.divisa|floatformat:2 }}</th>
                            </tr>

                        </tbody>
                    </table>
                    {% comment %} {% for grupo in request.user.groups.all %}
                        {% if grupo.name == "nivel1" %}
                            
                        {% elif grupo.name == "nivel2" %}
                            <a href="{% url 'pagos:factura_edite' object.id %}" class="btn btn-outline-success float-right" />Editar</a>
                        {% elif grupo.name == "nivel3" and object.estatus != "P" %}
                            <a href="{% url 'pagos:factura_edite' object.id %}" class="btn btn-outline-success float-right" />Editar</a>
                        {% endif %}
                    {% endfor %} {% endcomment %}
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <table style="width:100%" class="table table-sm table-hover ">
                        <thead>
                            <tr>
                                <th>Tipo de Cambio</td>
                                <th style="text-align: right;">BS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Factura</td>
                                <td style="text-align: right;">{{ object.cambiofactura|floatformat:2 }} </td>
                            </tr>
                            <tr>
                                <td>Fecha de Pago</td>
                                <td style="text-align: right;">{{ object.cambiopago|floatformat:2 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% if object.get_anticipo.all.count > 0%}
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Anticipo </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table style="width:100%" class="table table-sm table-hover ">
                            <thead>
                                <tr>
                                    <th style="text-align: right;">Tipo de Cambio</th>
                                    <th style="text-align: right;">BS</th>
                                    <th style="text-align: right;">USD</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for anticipo in object.get_anticipo.all %}
                                    <tr>
                                        <td style="text-align: right;">{{ anticipo.cambio|floatformat:2 }}</td> 
                                        <td style="text-align: right;">{{ anticipo.montobs|floatformat:2 }}</td>
                                        <td style="text-align: right;">{{ anticipo.montousd|floatformat:2 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <table style="width:100%" class="table table-sm table-hover ">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th style="text-align: right;">BS</th>
                                    <th style="text-align: right;">USD</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for anticipo in object.get_anticipo.all %}
                                    <tr>
                                        <th style="text-align: right;">Total a Pagar en</th> 
                                        <th style="text-align: right;"><label id="id_pagobs">{{ anticipo.pagobs|floatformat:2 }}</label></th>
                                        <th style="text-align: right;"><label id="id_pagousd">{{ anticipo.pagousd|floatformat:2 }}</label></th>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        {% comment %} <a href="{% url 'pagos:facturas' %}" class="btn btn-outline-info " />Facturas</a> {% endcomment %}
        <div class="btn-group float-right">
            <a target="_blank" href="{% url 'pagos:factura_pdf' object.id %}" class="btn btn-outline-success " />PDF</a>
            {% if object.estatus3 == False and object.estatus2 == False %}
                <a href="{% url 'pagos:factura_edit' object.id %}" class="btn btn-outline-success" />Editar</a>
            {% endif %}
            
        </div>
      </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="{% static 'core/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'core/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Select2 -->
<script src="{% static 'core/plugins/select2/js/select2.full.min.js' %}"></script>



<script>
    $(function () {
        $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
        });

        $("#example2").DataTable({
        "responsive": true,
        "autoWidth": false,
        });
        $('.select2bs4').select2({
          theme: 'bootstrap4'
        })

        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('dd/mm/yyyy', { 'placeholder': 'mm/dd/yyyy' })
        //Money Euro
        $('[data-mask]').inputmask()

        //Date range picker
        $('#reservationdate').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        //Date range picker
        $('#reservation').daterangepicker({
            locale: {
                format: 'DD/MM/YYYY'
            }
        })
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'DD/MM/YYYY hh:mm A'
            }
        })
        
        //Date range as a button
        $('#daterange-btn').daterangepicker(
        {
            ranges   : {
            'Today'       : [moment(), moment()],
            'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month'  : [moment().startOf('month'), moment().endOf('month')],
            'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            startDate: moment().subtract(29, 'days'),
            endDate  : moment()
        },
        function (start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
        }
        )
    });
</script>
{% endblock %}